## .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.pdb
*.exe

## Visual Studio
.vs/
*.rsuser

## Rider
.idea/

## NuGet
*.nupkg
packages/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Windows
Thumbs.db
Desktop.ini
.omc/
